#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        ht: ht {
            compatible = "zmk,behavior-hold-tap";
            label = "HT";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 39 40 41 13 14 15 16>;
            flavor = "tap-preferred";
        };

        lht: lht {
            compatible = "zmk,behavior-hold-tap";
            label = "LHT";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };

        rht: rht {
            compatible = "zmk,behavior-hold-tap";
            label = "RHT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            hold-trigger-key-positions = <5 17 29 38 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 19 20 21 22>;
        };
    };

    combos {
        compatible = "zmk,combos";

        toGaming {
            bindings = <&to 7>;
            key-positions = <36 41>;
            layers = <0>;
        };

        copy {
            bindings = <&kp LG(C)>;
            key-positions = <25 26>;
        };

        paste {
            bindings = <&kp LG(V)>;
            key-positions = <26 27>;
        };

        deletecopy {
            bindings = <&kp LG(X)>;
            key-positions = <27 28>;
        };

        semicolon {
            bindings = <&kp SEMI>;
            key-positions = <33 32>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&none  &kp Q               &kp W           &kp E               &kp R             &kp T         &kp Y       &kp U               &kp I                 &kp O             &kp P                   &none
&none  &ht LEFT_COMMAND A  &ht LEFT_ALT S  &ht LEFT_CONTROL D  &ht LEFT_SHIFT F  &kp G         &kp H       &rht RIGHT_SHIFT J  &rht RIGHT_CONTROL K  &rht RIGHT_ALT L  &rht RIGHT_COMMAND SQT  &none
&none  &kp Z               &kp X           &kp C               &kp V             &kp B         &kp N       &kp M               &kp COMMA             &kp DOT           &kp FSLH                &none
                                           &lht 6 ESC          &lht 5 SPACE      &lht 4 TAB    &lht 1 RET  &lht 2 BACKSPACE    &lht 3 DELETE
            >;
        };

        Symbol {
            bindings = <
&none  &kp LEFT_BRACE  &kp AMPERSAND  &kp ASTERISK  &kp LEFT_PARENTHESIS  &kp RBRC     &none  &none            &none              &none          &none              &none
&none  &kp COLON       &kp DLLR       &kp PRCNT     &kp CARET             &kp PLUS     &none  &kp RIGHT_SHIFT  &kp RIGHT_CONTROL  &kp RIGHT_ALT  &kp RIGHT_COMMAND  &none
&none  &kp TILDE       &kp EXCL       &kp AT        &kp POUND             &kp PIPE     &none  &none            &none              &none          &none              &none
                                      &kp LPAR      &kp RPAR              &kp UNDER    &none  &none            &none
            >;
        };

        Number {
            bindings = <
&none  &kp LBKT  &kp N7  &kp N8   &kp N9  &kp RBKT     &none  &none            &none              &none          &none              &none
&none  &kp SEMI  &kp N4  &kp N5   &kp N6  &kp EQUAL    &none  &kp RIGHT_SHIFT  &kp RIGHT_CONTROL  &kp RIGHT_ALT  &kp RIGHT_COMMAND  &none
&none  &kp APOS  &kp N1  &kp N2   &kp N3  &kp BSLH     &none  &none            &none              &none          &none              &none
                         &kp DOT  &kp N0  &kp MINUS    &none  &none            &none
            >;
        };

        Function {
            bindings = <
&none  &kp F12  &kp F7  &kp F8  &kp F9  &kp PRINTSCREEN    &none  &none            &none              &none          &none              &none
&none  &kp F11  &kp F4  &kp F5  &kp F6  &kp SCROLLLOCK     &none  &kp RIGHT_SHIFT  &kp RIGHT_CONTROL  &kp RIGHT_ALT  &kp RIGHT_COMMAND  &none
&none  &kp F10  &kp F1  &kp F2  &kp F3  &kp PAUSE_BREAK    &none  &none            &none              &none          &none              &none
                        &none   &none   &none              &none  &none            &none
            >;
        };

        Mouse {
            bindings = <
&none  &none  &none  &none  &none  &none    &kp K_REDO  &kp K_PASTE  &kp K_COPY  &kp K_CUT  &kp K_UNDO  &none
&none  &none  &none  &none  &none  &none    &none       &none        &none       &none      &none       &none
&none  &none  &none  &none  &none  &none    &none       &none        &none       &none      &none       &none
                     &none  &none  &none    &none       &none        &none
            >;
        };

        Navigation {
            bindings = <
&none  &none  &none  &none  &none  &none    &kp K_REDO  &kp K_PASTE     &kp K_COPY     &kp K_CUT    &kp K_UNDO    &none
&none  &none  &none  &none  &none  &none    &kp LEFT    &kp DOWN_ARROW  &kp UP_ARROW   &kp RIGHT    &kp CAPSLOCK  &none
&none  &none  &none  &none  &none  &none    &kp INSERT  &kp HOME        &kp PAGE_DOWN  &kp PAGE_UP  &kp END       &none
                     &none  &none  &none    &none       &none           &none
            >;
        };

        Media {
            bindings = <
&none  &none  &none  &none  &none  &none    &none         &kp C_BRI_DN      &kp C_BRI_UP  &none               &none  &none
&none  &none  &none  &none  &none  &none    &kp C_REWIND  &kp C_VOL_DN      &kp C_VOL_UP  &kp C_FAST_FORWARD  &none  &none
&none  &none  &none  &none  &none  &none    &bt BT_SEL 0  &bt BT_SEL 1      &bt BT_SEL 3  &bt BT_SEL 4        &none  &none
                     &none  &none  &none    &kp K_STOP    &kp K_PLAY_PAUSE  &kp K_MUTE
            >;
        };

        gaming {
            bindings = <
&none  &kp N1          &kp N2  &kp N3      &kp N4     &kp N5     &to 0  &to 0  &to 0  &to 0  &to 0  &none
&none  &kp Y           &kp Q   &kp W       &kp E      &kp R      &to 0  &to 0  &to 0  &to 0  &to 0  &none
&none  &kp LEFT_SHIFT  &kp A   &kp S       &kp D      &kp F      &to 0  &to 0  &to 0  &to 0  &to 0  &none
                               &kp ESCAPE  &kp SPACE  &kp TAB    &to 0  &to 0  &to 0
            >;
        };

        layer_9 {
            bindings = <
&none  &kp N4          &kp N5  &kp NUMBER_6  &kp N7     &kp N8     &to 0  &to 0  &to 0  &to 0  &to 0  &none
&none  &kp Y           &kp Q   &kp W         &kp E      &kp R      &to 0  &to 0  &to 0  &to 0  &to 0  &none
&none  &kp LEFT_SHIFT  &kp A   &kp S         &kp D      &kp N9     &to 0  &to 0  &to 0  &to 0  &to 0  &none
                               &kp ESCAPE    &kp SPACE  &kp TAB    &to 0  &to 0  &to 0
            >;
        };
    };
};
